{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Tag index</h1>

                <div class="text-center mb-3">
                    <a href="{{ path('app_tag_new') }}" class="btn btn-success">Create New Tag</a>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in tags %}
                                <tr>
                                    <td>{{ tag.id }}</td>
                                    <td>{{ tag.name }}</td>
                                    <td>
                                        <a href="{{ path('app_tag_show', {'id': tag.id}) }}" class="btn btn-primary btn-sm">Show</a>
                                        <a href="{{ path('app_tag_edit', {'id': tag.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">No records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
