{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="w-75">
            <h1 class="text-center mb-4">User</h1>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Nickname</th>
                        <td>{{ user.nickname }}</td>
                    </tr>
                    <tr>
                        <th>Picture</th>
                        <td>{{ user.picture }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                     <tr>
                        <th>Selected Tags</th>
                        <td>
                            {% for tag in user.preferedTag %}
                                {{ tag.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Selected Categories</th>
                        <td>
                            {% for category in user.selectedCategory %}
                                {{ category.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Selected Theme</th>
                        <td>{{ user.chooseTheme.name }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Games and Keys</th>
                         <td>
                         {% for order in user.orders %}
                         <h5> Order n° {{ order.id }} </h5>
                            {% for key in user.userGameKeys %}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Game: {{ key.game.name }}</h5>
                                        <p class="card-text">
                                            Key: {{ key.gameKey|mask_key }}
                                        </p>
                                        Issues With user key ? -> <a href="{{ path('app_game_generate_key_user', {'id': key.id}) }}" class="btn btn-warning btn-sm mb-2">Generate New Key</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center mt-3">
                <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Back to list</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary ms-2">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}
