{% extends 'base.html.twig' %}

{% block title %}Theme index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Theme index</h1>

                <div class="text-center mt-4">
                    <a href="{{ path('app_theme_new') }}" class="btn btn-success">Create new</a>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for theme in themes %}
                            <tr>
                                <td>{{ theme.id }}</td>
                                <td>{{ theme.name }}</td>
                                <td>
                                    <a href="{{ path('app_theme_show', {'id': theme.id}) }}" class="btn btn-primary btn-sm">Show</a>
                                    <a href="{{ path('app_theme_edit', {'id': theme.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
