{% extends 'base.html.twig' %}

{% block title %}Order Details{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Order Details</h1>

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 20%">Order n°</th>
                            <td>{{ order.id }}</td>
                        </tr>
                        <tr>
                            <th>CreatedAt</th>
                            <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ order.status }}</td>
                        </tr>
                        <tr>
                            <th>User</th>
                            <td>{{ order.user.nickname }}</td>
                        </tr>
                        <tr>
                            <th>Games</th>
                            <td>
                                {% for gameOrder in order.gameOrders %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-text">{{ gameOrder.game.name }} - {{ gameOrder.game.price }} €</p>
                                            <p class="card-text">Quantity: {{ gameOrder.quantity }}</p>

                                            {% set orderGameKeys = [] %}
                                            {% for userGameKey in gameOrder.game.userGameKeys %}
                                                {% if userGameKey.user.id == order.user.id and userGameKey.game.id == gameOrder.game.id %}
                                                    {% if userGameKey.createdAt|date('Y-m-d H:i') == gameOrder.order.createdAt|date('Y-m-d H:i') %}
                                                        {% set orderGameKeys = orderGameKeys|merge([userGameKey]) %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if orderGameKeys|length > 0 %}
                                                <ul>
                                                    {% for userGameKey in orderGameKeys %}
                                                        <li>Key: {{ userGameKey.gameKey|mask_key }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p class="card-text">No keys available</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>{{ order.total }} €</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <a href="{{ path('app_user_show', {'id': order.user.id}) }}" class="btn btn-primary btn-sm mb-2">User Details</a>
                </div>

                <div class="text-center mt-3">
                    <a href="{{ path('app_order_main') }}" class="btn btn-primary btn-sm mb-2">Back to List</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}