{% extends 'base.html.twig' %}

{% block title %}Order Details{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Order Details</h1>

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 20%">Id</th>
                            <td>{{ order.id }}</td>
                        </tr>
                        <tr>
                            <th>CreatedAt</th>
                            <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ order.status }}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>{{ order.total }} €</td>
                        </tr>
                        <tr>
                            <th>Games</th>
                            <td>
                                <ul>
                                    {% for game in order.games %}
                                        <li>{{ game.name }} - {{ game.price }} €</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <a href="{{ path('app_order_index') }}" class="btn btn-primary btn-sm mb-2">Back to List</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
