{% extends 'base.html.twig' %}

{% block title %}Order Details{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Order Details</h1>

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 20%">Order n° </th>
                            <td>{{ order.id }}</td>
                        </tr>
                        <tr>
                            <th>CreatedAt</th>
                            <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ order.status }}</td>
                        </tr>
                        <tr>
                            <th>User</th>
                            <td>{{ order.user.nickname }}</td>
                        </tr>
                        <tr>
                            <th>Games</th>
                            <td>
                                 {% for gameOrder in order.gameOrders %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-text">{{ gameOrder.game.name }} - {{ gameOrder.game.price }} €</p> <!-- Nom du jeu et prix unitaire -->

                                            <p class="card-text">Quantity : {{ gameOrder.quantity }}</p> <!-- Quantité du jeu -->

                                            {% set orderGameKeys = [] %}
                                            {% for userGameKey in gameOrder.game.userGameKeys %}
                                                {% if userGameKey.user.id == order.user.id and userGameKey.game.id == gameOrder.game.id %}
                                                    {% if userGameKey.createdAt|date('Y-m-d H:i') == gameOrder.order.createdAt |date('Y-m-d H:i') %}
                                                        {% set orderGameKeys = orderGameKeys|merge([userGameKey]) %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if orderGameKeys|length > 0 %}
                                                {% for userGameKey in orderGameKeys %}
                                                    <p class="card-text">
                                                        key : {{ userGameKey.gameKey|mask_key }}
                                                    </p>
                                                {% endfor %}
                                            {% else %}
                                                <p class="card-text">Aucune clé disponible</p>
                                            {% endif %}

                                            {% if loop.last %}
                                                {% if order.status != 'pending' %}
                                                    Problèmes avec la clé utilisateur ? -> <a href="{{ path('app_game_generate_key_order', {'id': gameOrder.game.id}) }}" class="btn btn-warning btn-sm mb-2">Générer une nouvelle clé</a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}                 
                            <tr>
                            <th>Total</th>
                                <td>{{ order.total }} €</td>
                            </tr>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <a href="{{ path('app_order_main') }}" class="btn btn-primary btn-sm mb-2">Back to List</a>
                </div>
                <div class="text-center mt-3">
                    {{ include('backoffice/order/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
