<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des jeux</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        img {
            max-width: 100px;
        }
    </style>
</head>
<body>
    <h1>Liste des jeux</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de sortie</th>
                <th>Ajouté le</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Éditeur</th>
                <th>Categories</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.releaseDate|date('d/m/Y') }}</td>
                    <td>{{ game.createdAt|date('d/m/Y H:i:s') }}</td>
                    <td><img src="{{ game.picture }}" alt="Image du jeu {{ game.name }}"></td>
                    <td>{{ game.price }} €</td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.editor }}</td>
                    <td>
                        <ul>
                            {% for category in game.hasCategory %}
                                <li>{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for tag in game.hasTag %}
                                <li>{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
