<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des utilisateurs</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        img {
            max-width: 50px;
            max-height: 50px;
        }
    </style>
</head>
<body>
    <h1>Liste des utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Photo</th>
                <th>Thème choisi</th>
                <th>Jeux associés</th>
                <th>Catégories choisies</th>
                <th>Tags préférés</th>
                <th>Clés de jeux</th>
                <th>Orders</th>
                <th>Validate Orders</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.email }}</td>
                    <td><img src="{{ user.picture }}" alt="{{ user.nickname }}"></td>
                    <td>
                        {% if user.chooseTheme and user.chooseTheme.name is not null %}
                            {{ user.chooseTheme.name }}
                        {% else %}
                            <span style="color: red;">Pas de thème</span>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for game in user.userGetGame %}
                                <li>
                                    <strong>{{ game.name }}</strong><br>
                                    <em>Date de sortie:</em> {{ game.releaseDate|date('d/m/Y') }}<br>
                                    <em>Prix:</em> {{ game.price }} €<br>
                                    <em>Description:</em> {{ game.description }}<br>
                                    <em>Éditeur:</em> {{ game.editor }}<br>
                                    <em>ID:</em> {{ game.id }}<br>
                                    <em>Catégories:</em>
                                    <ul>
                                        {% for category in game.hasCategory %}
                                            <li>{{ category.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <em>Tags:</em>
                                    <ul>
                                        {% for tag in game.hasTag %}
                                            <li>{{ tag.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for category in user.selectedCategory %}
                                <li>{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for tag in user.preferedTag %}
                                <li>{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for userGameKey in user.userGameKeys %}
                                <li>
                                    <strong>{{ userGameKey.game.name }}<br></strong>
                                    <strong>Clé:</strong> {{ userGameKey.gameKey }}<br>
                                    <strong>Créée le :</strong> {{ userGameKey.createdAt|date('d/m/Y H:i:s') }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for order in user.purchasedOrder %}
                                <li>
                                    <strong>Status:</strong> {{ order.status }}<br>
                                    <ul>
                                        {% for game in order.games %}
                                            <li><strong>Nom du jeu:</strong> {{ game.name }}</li>
                                            <li><strong>Prix:</strong> {{ game.price }} €</li>
                                        {% endfor %}
                                    </ul>
                                    <strong>Commande faite le:</strong> {{ order.createdAt|date('d/m/Y H:i:s') }}<br>
                                    <strong>Total:</strong> {{ order.total }} €<br>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for validateOrder in user.validateOrders %}   
                                    <li>
                                        <strong>ID:</strong> {{ validateOrder.id }}<br>
                                        <strong>Quantité:</strong> {{ validateOrder.quantity }}<br>
                                        <strong>Prix Total:</strong> {{ validateOrder.totalPrice }} €<br>
                                        <strong>Jeux:</strong>
                                        <ul>
                                            {% for game in validateOrder.game %}
                                                <li>{{ game.name }} ({{ game.price }} €)</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
